@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Akaya Kanadaka', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image:url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    margin: auto;
    position: relative;
    top: 200px;
    max-width: 400px;
    width: 100%;
    background: rgb(155 185 205 / 49%);
    border-radius: 5px;
    padding: 25px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 2px;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #d98757;
    color: rgb(148, 51, 83);;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background-color: #71668475;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todoList li span {
    position: absolute;
    right: 0px;
    color: rgb(148, 51, 83);
    width: 45px;
    text-align: center;
    background-color: #85a7c2c2;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoList li:hover span {
    right: 20px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 25px;
    justify-content: space-between;
}

.footer button {
    border: none;
    outline: none;
    background-color: #d98757b5;
    color: sienna;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}